<div class="addgames">

        <h2>Add Games</h2>

      <div class="form-group">
        <select class="form-control" id="sel1">
          <option value="" disabled selected>Please select...</option>
          <option value="submitName()"></option>
        </select>
        <h3>vs</h3>
        <select class="form-control" id="sel1">
          <option value="" disabled selected>Please select...</option>
          <option value="submitName()"></option>
        </select>
      </div>

        <h4>Score(max. of 5)</h4>

      <div class="form-group">
        <input type="text" class="form-control score" placeholder="e.g. 11">
        <input type="text" class="form-control score" placeholder="e.g. 9">
      </div>

      <button type="button" class="btn btn-default addset">Add Set</button>
      <button type="submit" class="btn btn-default">Add Game</button>
  </div>
