<div class="score_table">
      <table id="myTable">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Won</th>
      <th>Lost</th>
      <th>Winning%</th>
      <th>Points</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Sani</td>
      <td>0</td>
      <td>1</td>
      <td>0%</td>
      <td>0</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Elmar</td>
      <td>1</td>
      <td>0</td>
      <td>100%</td>
      <td>2</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Sachin</td>
      <td>1</td>
      <td>1</td>
      <td>50%</td>
      <td>2</td>
    </tr>
  </table>
    </div>
